log.txt
train_log.txt
docs/
results/
__pycache__/
*.pyc
dataset_train/
dataset_test_noisy/
tmp_predict*
results_val_benchmark/
benchmark_val/
results_cvm_mini/
results_cvm_mini_t1/
results_cvm_mod0_mini/
results_cvm_cons1_mini/
results_spcf_mini/
results_vm_mini/
results_official/
results_official_t1/
results_official_mod0/
results_official_cons1/
results_cvm_mini_old/
results.zip
result.zip
*.log